DeepLearning/plots/Station_*/PassingSNRChiCut
__pycache__/templateCrossCorr.cpython-312.pyc
DeepLearning/__pycache__/D00_helperFunctions.cpython-312.pyc
DeepLearning/__pycache__/D04B_reprocessNurPassingCut.cpython-312.pyc
DeepLearning/__pycache__/D04C_CutInBacklobeRCR.cpython-312.pyc
DeepLearning/data/3rdpass/Backlobe_100s_Noiseless_19388events_part0.npy
DeepLearning/data/3rdpass/Backlobe_100s_wNoise_17263events_part0.npy
DeepLearning/data/3rdpass/Backlobe_200s_34683events_part0.npy
DeepLearning/data/3rdpass/Backlobe_200s_wNoise_17326events_part0.npy
DeepLearning/data/3rdpass/FilteredSimRCR_100s_8074events_part0.npy
DeepLearning/data/3rdpass/FilteredSimRCR_200s_6312events_part0.npy
DeepLearning/data/3rdpass/SimParams_Backlobe_100s_Noiseless_19388events_part0.npy
DeepLearning/data/3rdpass/SimParams_Backlobe_100s_wNoise_17263events_part0.npy
DeepLearning/data/3rdpass/SimParams_Backlobe_200s_wNoise_17326events_part0.npy
DeepLearning/data/3rdpass/SimParams_SimRCR_100s_8074events_part0.npy
DeepLearning/data/3rdpass/SimParams_SimRCR_200s_6312events_part0.npy
DeepLearning/data/3rdpass/SimRCR_100s_8074events_part0.npy
DeepLearning/data/3rdpass/SimRCR_200s_6312events_part0.npy
DeepLearning/data/3rdpass/SimWeights_Backlobe_100s_Noiseless_19388events_part0.npy
DeepLearning/data/3rdpass/SimWeights_Backlobe_100s_wNoise_17263events_part0.npy
DeepLearning/data/3rdpass/SimWeights_Backlobe_200s_34683events_part0.npy
DeepLearning/data/3rdpass/SimWeights_Backlobe_200s_wNoise_17326events_part0.npy
DeepLearning/data/3rdpass/SimWeights_SimRCR_100s_8074events_part0.npy
DeepLearning/data/3rdpass/SimWeights_SimRCR_200s_6312events_part0.npy
DeepLearning/data/3rdpass/SimZeniths_Backlobe_100s_wNoise_500000events_part0.npy
DeepLearning/data/3rdpass/SimZeniths_Backlobe_200s_wNoise_500000events_part0.npy
DeepLearning/data/3rdpass/SimZeniths_SimRCR_200s_500000events_part0.npy
DeepLearning/plots/2016FoundEvents/Station_13/PassingChiCut_1450734367.0.png
DeepLearning/plots/2016FoundEvents/Station_14/PassingCut_1454540191.0.png
DeepLearning/plots/2016FoundEvents/Station_17/PassingCut_1449861609.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1449861609.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1450268467.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1450734371.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1455205950.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1455513662.0.png
DeepLearning/plots/2016FoundEvents/Station_18/PassingChiCut_1458294171.0.png
DeepLearning/plots/2016FoundEvents/Station_30/PassingCut_1455205950.0.png
DeepLearning/plots/2016FoundEvents/Station_30/PassingCut_1455513662.0.png
DeepLearning/plots/2016FoundEvents/Station_30/PassingCut_1458294171.0.png
DeepLearning/plots/2016FoundEvents/Station_30/PassingCut_1459017259.0.png
DeepLearning/plots/Station_13/ChiSNR_Stn13.png
DeepLearning/plots/Station_15/ChiSNR_Stn15.png
DeepLearning/plots/Station_18/ChiSNR_Stn18.png
DeepLearning/plots/Station_30/ChiSNR_Stn30.png
StationDataAnalysis/__pycache__/S00_FoundEventsSearchUtil.cpython-312.pyc
StationDataAnalysis/plots/Station_30/ChiSNR_RCR_Stn30.png
StationDataAnalysis/plots/Station_30/ChiSNR_Stn30.png
StationDataAnalysis/plots/Station_30/ChiSNR_wRCR_Stn30.png
DeepLearning/__pycache__/D04B_reprocessNurPassingCut.cpython-312.pyc
DeepLearning/plots/Station_30/ChiSNR_Stn30.png
DeepLearning/__pycache__/D04B_reprocessNurPassingCut.cpython-312.pyc
DeepLearning/plots/Station_30/ChiSNR_Stn30.png
plots/
tempplots/
.vscode/settings.json
